/VehiculoEjercicio/nbproject/private/
/AdanElHniniElKarti/target/
/VehiculoEjercicio/build/
/HoraEjercicio/nbproject/private/
/HoraEjercicio/build/
/PuntoEjercicio/nbproject/private/
/PuntoEjercicio/build/
